##
## GLOBAL PATTERNS
##

# editor temp files
**/*~
**/*.swp

# MacOSX
**/.DS_Store

# generated makefiles
**/Makefile
**/Makefile.in

##
## ROOT DIRECTORY PATTERNS
##

# generated configure scripts
aclocal.m4
autom4te.cache
configure
stamp-h1

# configuration files
.linesrc
lines.cfg
